/*.ao
/*.d
/*.o
/*.pdb
/*.vcxproj.user
/*icutest*.dll
/*icutest*.exp
/*icutest*.lib
/*icutest*.lnk
/Debug
/Makefile
/Release
/ctestfw.vcproj.*.*.user
/debug
/libicutest*
/libsicutest*
/release
/x64
/x86
