/bin
/include
/lib
/bin64
/lib64
/installx86_64
/installi686
out/
*.o
*.d
Debug/
Release/
source/data/out
source/tools/genrb/x86
source/tools/genrb/x64
source/tools/icuinfo/x86
source/tools/icuinfo/x64
*.sdf
*.opensdf
*.suo
*.bak
*.vcxproj.user
*~
source/stubdata/stubdatabuilt.txt
source/extra/uconv/pkgdatain.txt
source/extra/uconv/resources/fr.res
source/extra/uconv/resources/root.res
source/allinone/allinone.VC.*
