*.user
// git artifacts
*.orig
// visual studio local artifacts
**/.vs/**

// various things the build process inserts into the source tree in a release build
source/data/out/**
include/unicode/**
**/*.tlog
source/test/testdata/out/**
**/*.exp
**/x86/Release/**
**/x64/Release/**
source/extra/uconv/pkgdatain.txt
source/extra/uconv/resources/fr.res
source/extra/uconv/resources/root.res
source/stubdata/stubdatabuilt.txt