/*.1
/*.d
/*.o
/*.pdb
/*.plg
/*.vcxproj.user
/Debug
/Makefile
/Makefile.local
/Release
/debug
/derb
/derb.[0-9]
/derb.vcproj.*.*.user
/derb_*
/genrb
/genrb.[0-9]
/genrb.vcproj.*.*.user
/release
/temp
/x64
/x86
