#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export FWPREFIX=/usr/lib/fieldworks

%:
	dh $@ --parallel

override_dh_auto_configure:
	echo "args=$@"
	source/configure --prefix=$(FWPREFIX)

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
	install -d debian/icu54-bin-fw$(FWPREFIX)/icu-bin
	install -d debian/libicu54-fw$(FWPREFIX)/lib
	install -d debian/icu-dev-fw$(FWPREFIX)/include/layout
	install -d debian/icu-dev-fw$(FWPREFIX)/include/unicode
	install -d debian/icu-dev-fw$(FWPREFIX)/lib/pkgconfig
	install debian/tmp$(FWPREFIX)/bin/* debian/icu54-bin-fw$(FWPREFIX)/icu-bin/
	install debian/tmp$(FWPREFIX)/sbin/* debian/icu54-bin-fw$(FWPREFIX)/icu-bin/
	install -m 644 debian/tmp$(FWPREFIX)/lib/lib* debian/libicu54-fw$(FWPREFIX)/lib/
	install debian/tmp$(FWPREFIX)/include/layout/* debian/icu-dev-fw$(FWPREFIX)/include/layout/
	install debian/tmp$(FWPREFIX)/include/unicode/* debian/icu-dev-fw$(FWPREFIX)/include/unicode/
	install debian/tmp$(FWPREFIX)/lib/pkgconfig/* debian/icu-dev-fw$(FWPREFIX)/lib/pkgconfig/

override_dh_strip:
	dh_strip --dbg-package=libicu54-fw-dbg

override_dh_shlibdeps:
	dh_shlibdeps -l$(FWPREFIX)/lib
